<div class="container">
  <div class="row">
      <div class="column">
      <div class="content">
        <img src="/assets/zyg.jpg" alt="Mountains" style="width:100%;">
        <h4>Kolumna Zygmunta</h4>
        <p>Polska, Warszawa</p>
      </div>
    </div>
    <div class="column">
        <div class="content">
          <img src="/assets/szwajcaria.jpg" alt="Mountains" style="width:100%;object-fit: contain;">
          <h4>-</h4>
          <p>Szwajcaria</p>
        </div>
      </div>
      <div class="column">
          <div class="content">
            <img src="/assets/koloseum.jpg" alt="Mountains" style="width:100%; object-fit: contain;">
            <h4>Koloseum</h4>
            <p>Włochy, Rzym</p>
          </div>
        </div>
        <div class="column">
            <div class="content">
              <img src="/assets/wlochy.jpg" alt="Mountains" style="width:100%;object-fit: contain;">
              <h4>-</h4>
              <p>Włochy</p>
            </div>
          </div>
  <!-- END GRID -->
  </div>

  </div>
  