<div class="container">
  <div class="col">
    <div class="row">
      <div class="column">
      <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive">   
    </div>
    <div class="col" >
    <br>
    <h4 style="color:#00b1b1; text-align: left">John Jack Doe </h4>      
    <h5 style=" text-align: left">Poland</h5>             
    </div>  
  </div>
  <div class="row">

<div class="col-sm-5 col-xs-6 tital" >First Name:</div>
<div class="col-sm-8 ">John</div>
<div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 tital " >Middle Name:</div>
<div class="col-sm-8"> Jack</div>
<div class="clearfix"></div>
<div class="bot-border"></div>

<div class="col-sm-5 tital " >Last Name:</div>
<div class="col-sm-8"> Doe</div>
<div class="clearfix"></div>
<div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 tital " >Date Of Joining:</div>
<div class="col-sm-8">15 Jun 2016</div>
<div class="clearfix"></div>
<div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 tital " >Date Of Birth:</div>
<div class="col-sm-8">11 Jun 1998</div>
<div class="clearfix"></div>
<div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 tital " >Place Of Birth:</div>
<div class="col-sm-8">Poland</div>
<div class="clearfix"></div>
<div class="bot-border"></div>

</div>
</div>  
<div style="padding: 50px;">
  <button class="btn" routerLink="/pictures">Zdjęcia</button>
  <button class="btn" routerLink="/films">Filmy</button>
  <button class="btn" routerLink="/trips">Wycieczki</button>
</div>

</div>


       


   

