.register-form-field{
    width: 350px;
    display: block;
    align-content: center;
}

.container {
    margin-top:5%;
    border-radius: 10px;
    background-color: #b5d0dd;
    padding: 40px;
    align-content: center;
  }
  .container-item {
    margin-top:5%;
    border-radius: 20px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  .error{
    background-color: #fff0f0
  }