<div style="padding: 20px">
  <button class="btn">Stwórz film</button>
  <button class="btn">Usuń wybrane filmy</button>
</div>



<div class="container">
  <ul id="thumbnailsList">
    <li>
        
        <a (click)="openModal('../../../assets/movies/1.mp4')" title="Download movie" class="tn" width="200" height="160">
          <img src="../../../assets/movies/movie_1.png" class="tn" width="200" height="160">
        </a>
    </li>
    <li>
        <a (click)="openModal('../../../assets/movies/1.mp4')" title="Download movie" class="tn" width="200" height="160">
        <img src="../../../assets/movies/movie_2.png" class="tn" width="200" height="160">
      </a>
      
    </li>
    <li>
        
      <a (click)="openModal('../../../assets/movies/1.mp4')" title="Download movie" class="tn" width="200" height="160">
        <img src="../../../assets/movies/movie_3.png" class="tn" width="200" height="160">
      </a>
    </li>
    <li>
        
      <a (click)="openModal('../../../assets/movies/1.mp4')" title="Download movie" class="tn" width="200" height="160">
        <img src="../../../assets/movies/movie_4.png" class="tn" width="200" height="160">
      </a>
    </li>
  </ul>
</div>