<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<div class="container">
  <agm-map [latitude]="lat" [longitude]="lng" (mapClick)="addMarker($event.coords.lat, $event.coords.lng)">
    <agm-marker
          *ngFor="let marker of markers"
          [latitude]="marker.lat"
          [longitude]="marker.lng"
          [markerDraggable]="true"
          (markerClick)="selectMarker($event)"
        >
        </agm-marker>
  </agm-map>
  
<button (click)="Remove()" type="button" class="btn btn-danger">Usuń</button>  
<button (click)="Add()" type="button" class="btn btn-success">Dodaj</button>
</div>
<div class="coordinates-list">
Ostatnio dodane znaczniki:
  <li *ngFor="let marker of markers">
    {{ marker.lng }} |  {{ marker.lat }}
  </li>
</div>
  